$primary: $grayish_red;

$background: $light_grayish_orange;

// Text colors
$text: $grey_dark;

// Link colors
$link: $blue;
$link_visited: $purple;
$link_hover: $grey_darker;
$link_focus: $grey_darker;
$link_active: $grey_darker;

// Typography
$family_primary: $family_sans_serif;
$family_secondary: $family_sans_serif;

$size_small: $size_7;
$size_normal: $size_6;
$size_medium: $size_5;
$size_large: $size_4;
$size_xlarge: $size_1;
