.header {
  &__logo {
    img {
    }
  }

  &__menu {
    // Mobile Menu
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $black;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &__links {
    a {
      font-size: 0.875rem;
    }
  }
}
