$body_background_color: $scheme-main;
$body_size: 16px;
$body_min_width: 300px;
$body_rendering: optimizeLegibility;
$body_family: $family_primary;
$body_overflow_x: hidden;
$body_overflow_y: scroll;

$body_color: $text;
$body_font_size: 1em;
$body_weight: $weight_normal;
$body_line_height: 1.5;

$small_font_size: 0.875em;

$container_offset: (2 * $gap);
$container_max_width: $fullhd;

html {
  background-color: $body_background_color;
  font-size: $body_size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: $body_rendering;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: $body_family;
}

body {
  color: $body_color;
  font-size: $body_font_size;
  font-weight: $body_weight;
  line-height: $body_line_height;
}

// Inline
a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $link_hover;
  }
}

img {
  height: auto;
  max-width: 100%;
}

small {
  font-size: $small_font_size;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

<<<<<<< HEAD:app/scss/_globals.scss
// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sa{
    justify-content: space-around;
  }

  &-ai-c {
    align-items: center;
  }
}

=======
>>>>>>> dd4fcb12931553c2012e4c998bc1da7dbfea722a:app/scss/base/_globals.scss
// Visibility
.hide-for-mobile {
  // hide for tablet and mobile
  @include mobile() {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop viewport widths
  @include desktop() {
    display: none;
  }

  @include tablet() {
    display: none;
  }
}
