$body_background_color: $scheme-main;
$body_size: 16px;
$body_min_width: 300px;
$body_rendering: optimizeLegibility;
$body_family: $family_primary;
$body_overflow_x: hidden;
$body_overflow_y: scroll;

$body_color: $text;
$body_font_size: 1em;
$body_weight: $weight_normal;
$body_line_height: 1.5;

$small_font_size: 0.875em;

$container_offset: (2 * $gap);
$container_max_width: $fullhd;

html {
  background-color: $body_background_color;
  font-size: $body_size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: $body_overflow_x;
  overflow-y: $body_overflow_y;
  text-rendering: $body_rendering;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: $body_family;
}

body {
  color: $body_color;
  font-size: $body_font_size;
  font-weight: $body_weight;
  line-height: $body_line_height;
}

// Text
h1,
h2,
h3 {
  font-weight: $weight_medium;
  line-height: 1.06;
  color: $dark;
  margin-top: 0px;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

p {
  color: $dark;
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

// Inline
a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $link_hover;
  }
}

img {
  height: auto;
  max-width: 100%;
}

small {
  font-size: $small_font_size;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

// Visibility
.hide-for-mobile {
  // hide for tablet and mobile
  @include mobile() {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop viewport widths
  @include desktop() {
    display: none;
  }

  @include tablet() {
    display: none;
  }
}
