// Mixins and Breakpoints

// Responsiveness
@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: ($device - 0.0625em)) {
    @content;
  }
}

@mixin between($from, $until) {
  @media screen and (min-width: $from) and (max-width: ($until - 0.0625em)) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: ($tablet - 0.0625em)) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width: $tablet), print {
    @content;
  }
}

@mixin tablet-only() {
  @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.0625em)) {
    @content;
  }
}

@mixin touch() {
  @media screen and (max-width: ($desktop - 0.0625em)) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-only() {
  @if $widescreen_enabled {
    @media screen and (min-width: $desktop) and (max-width: ($widescreen - 0.0625em)) {
      @content;
    }
  }
}

@mixin until-widescreen() {
  @if $widescreen_enabled {
    @media screen and (max-width: ($widescreen - 0.0625em)) {
      @content;
    }
  }
}

@mixin widescreen() {
  @if $widescreen_enabled {
    @media screen and (min-width: $widescreen) {
      @content;
    }
  }
}

@mixin widescreen-only() {
  @if $widescreen_enabled and $fullhd_enabled {
    @media screen and (min-width: $widescreen) and (max-width: ($fullhd - 0.0625em)) {
      @content;
    }
  }
}

@mixin until-fullhd() {
  @if $fullhd_enabled {
    @media screen and (max-width: ($fullhd - 0.0625em)) {
      @content;
    }
  }
}

@mixin fullhd() {
  @if $fullhd_enabled {
    @media screen and (min-width: $fullhd) {
      @content;
    }
  }
}

@mixin breakpoint($name) {
  $breakpoint: map-get($breakpoints, $name);
  @if $breakpoint {
    $from: map-get($breakpoint, 'from');
    $until: map-get($breakpoint, 'until');
    @if $from and $until {
      @include between($from, $until) {
        @content;
      }
    } @else if $from {
      @include from($from) {
        @content;
      }
    } @else if $until {
      @include until($until) {
        @content;
      }
    }
  }
}
