// Main container
.hero {
  .container {
    @include desktop() {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    @include tablet() {
      flex: 2;
      order: 2;
    }
  }

  &__text {
    text-align: center;
    @include desktop() {
      flex: 3;
      order: 1;
      text-align: left;
    }

    h1 {
      color: #2a2a2a;
      font-size: 4rem;
      font-weight: $weight_medium;
      line-height: 1.15;
    }
  }
}
