// Main container
.hero {
  .container {
    @include desktop() {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    @include tablet() {
      flex: 3;
      order: 2;
    }
  }

  &__text {
    text-align: center;
    @include desktop() {
      flex: 3;
      order: 1;
      text-align: left;
    }
  }
}
